body {
  font-family: 'Roboto', sans-serif;
  background-color: #0d1117;
  color: #c9d1d9; 
}

.highlight {
  color: #58a6ff;
}

.section {
  padding: 4rem 0;
}

.icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #c9d1d9;
  transition: color 0.3s;
}

.icon-link:hover {
  color: #58a6ff; 
}

.project {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #161b22;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(253, 250, 250, 0.737);
}

.fact-card {
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fact-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 10px rgba(220, 215, 215, 0.704);
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}#fun .grid {
  gap: 10px; 
}

.card {
  position: relative;
  width: 400px;
  aspect-ratio: 29/16;
  background-color: #f2f2f210;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #29151500;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0 auto;
}

.card svg {
  width: 70px;
  fill: #1d1b1b;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3px;
  box-sizing: border-box;
  background-color: #181717d9;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(1, 0, 0, 0.734);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #5189f1;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 5px 0 5px;
  font-size: 12px;
  color: #000000;
  line-height: 1.4;
}

.card__button {
  padding: 5px;
  border-radius: 8px;
  background: #000000;
  border: none;
  color: white;
}

.secondary {
  background: transparent;
  color: #1a1414;
  border: 1px solid #141010;
}

.main {
  background-color:  #0b151f;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color:#161b22;
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.spotify {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
}

.heading {
  color: rgb(222, 207, 207);
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: limegreen;
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.main {
  background-color: #161b22;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: rgb(21, 65, 106);
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.spotify {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: limegreen;
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: rgb(255, 244, 244);
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
  justify-self: center;
}

.albumcover {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgba(233, 232, 232, 0);
  align-self: center;
  border-radius: 5px;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: rgb(255, 237, 237);
  align-self: center;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 0.2em;
  }

  25% {
    height: 0.7em;
  }

  50% {
    height: 1.5em;
  }

  100% {
    height: 0.2em;
  }
}